<html>
    <head>
        <title>Home - SpeedSmart Tools</title>
    </head>
<body>
    <h1>SpeedSmart Tools</h1>
    <p>This page gives you the ability to glance at key stats and perform key actions.</p>
    <h2>Key Stats</h2>
    <p>This part of the page contains some key stats about your SpeedSmart table.</p>

    <ul>
    <li>Tests taken: {{length}}</li>
    <li>Average Latency: {{pingavg}} MS</li>
    <li>Average Download speed: {{downloadavg}} MBPS</li>
    <li>Average Upload speed: {{uploadavg}} MBPS</li>
    </ul>
    <h2>Upload a SpeedSmart table for processing</h2>
    {% if completed == 1 %}
    <p>Your SpeedSmart Table has now finished being processed.</p>
    {% else %}
    <p>Select your latest table below and select "Upload". It may take a while to process.</p>
        {% endif %}
    </p>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input name="ssfile" accept=".csv" type="file" id="csv" />
        <button type="submit">Upload</button>
      </form>
    <footer>
        Powered By <a href="https://github.com/LegendusMaximus/speedsmart-tools">SpeedSmart Tools</a>
    </footer>
</body>
    </html>